body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
}

.contenedor img{
    margin: auto;
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
}

/*Fondo del espacio*/
#board {
    background-image: url("https://img.freepik.com/vector-premium/fondo-super-velocidad-estrellas-borrosas-lineas-luz_370567-1422.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

